@model IEnumerable<Torneio.MVC.ViewModel.TimeViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de Times</h2>

<p>
    @Html.ActionLink("Cadastrar Time", "Create",null, new { @class = "btn btn-primary btn-large" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.TimeId },  new { @class = "btn btn-primary btn-xs" }) 
            @Html.ActionLink("Detalhes", "Details", new { id = item.TimeId }, new { @class = "btn btn-default btn-xs" } ) 
            @Html.ActionLink("Deletar", "Delete", new { id = item.TimeId },  new { @class = "btn btn-danger btn-xs" } )
        </td>
    </tr>
}

</table>
